<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="resources/css/dashboard.css">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/b049437614.js" crossorigin="anonymous"></script>

    <title>Dashboard Admin</title>
</head>

<body>
    <div class="contenedor">
        <% if (login) {%>
            <!--Mensaje de Regstro extoso-->
            <main class="container__main">
                <div class="menu-dashboard">
                    <!-- TOP MENU -->
                    <div class="top-menu">
                        <div class="toggle">
                            <i class='bx bx-menu'></i>
                        </div>
                        <div class="logo">
                            <img src="resources/img/Tumaco/logo.png" alt="">
                        </div>
                        
                    </div>
                    <!-- INPUT SEARCH -->
                    <!-- <div class="input-search">
                        <i class='bx bx-search'></i>
                        <input type="text" class="input" placeholder="Buscar">
                    </div> -->
                    <!-- MENU -->
                    <div class="menu">
                        <div class="enlace">
                            <i class="bx bx-grid-alt"></i>
                            <a>Dashboard</a>
                        </div>

                        <div class="enlace">
                            <i class="bx bx-user"></i>
                            <a href="admin_usuarios">Usuarios</a>
                        </div>

                        <div class="enlace">
                            <i class="bx bx-grid-alt"></i>
                            <a href="admin_usuarios">Reservas</a>
                        </div>

                        <div class="enlace">
                            <i class="bx bx-message-square"></i>
                            <a href="admin_edicion">Edicion</a>
                        </div>

                        <div class="enlace">
                            <i class="bx bx-file-blank"></i>
                            <a>Archivos</a>
                        </div>
                    </div>
                </div>
                <div class="container-principal">
                    <div class="menu">

                        <div class="menu__user">
                            <i class="fa-solid fa-user"></i>
                            <p class="name__user"><%= nombre %></p>
                        </div>
                        <div class="menu__buscar">
                            <input type="text" placeholder="Buscar" class="input__buscar">
                            <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                        </div>
                    </div>
                    <div class="container__info">
                        <h1 class="h1__bienvenida">Bienvenido Administrador</h1>
                        <p class="p__bienvenida">¡Hola! Este es el panel de control de nuestro sitio web, 
                            diseñado especialmente para ti como administrador.
                            Espero que disfrutes de tu experiencia aquí y que tengas una buena 
                            instancia administrando nuestro sitio.
                        </p>
                    </div>
                </div>
            </main>
            <% } else {%>
                <h1>Inicie sesion</h1>
                <h1><strong>
                        <%= name %>
                    </strong></h1>
                <a href="login" class="a-login">Ir a Login</a>
                <% } %>
    </div>

<script src="resources/js/dashboard.js"></script>
</body>

</html>