/* FONTS GOOGLE */
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

/* VARIABLES */

:root {
    --blanco: #E0E0E0;
    --azul-opacidad: #184463;
    --bg-menu: #003053;
    --bg-body: #C7E1FF;
}

/* GENERALES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    color: var(--blanco);
}

/* LAYOUT */
.container__main {
    display: flex;
}

.menu-dashboard {
    max-width: 80px;
    height: 100vh;
    background: var(--bg-menu);
    padding: 10px;
    transition: max-width .3s ease;
    flex: 1;

}

.top-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.top-menu .logo {
    display: flex;
    align-items: center;

}

.top-menu .logo img {
    width: 40px;
    transition: width .3s ease;
}

.top-menu .logo span {
    font-size: 20px;
    margin-left: 20px;
    display: none;
}

.top-menu .toggle {
    width: 30px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding-bottom: 15px;
}

.top-menu .toggle i {
    font-size: 35px;
}

/* INPUT BOX */

.input-search {
    width: 100%;
    margin: 50px 0;
    background-color: var(--azul-opacidad);
    padding: 15px;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.input-search i {
    font-size: 30px;
    margin-right: 20px;
}

.input-search .input {
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
    height: 30px;
    color: var(--blanco);
    font-size: 22px;
    display: none;
}

/* ENLACES MENU */

.menu .enlace {
    width: 100%;
    padding: 20px 0 20px 17px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 20px;
    transition: all .3s ease;
}

.menu .enlace:hover {
    background: var(--azul-opacidad);
}

.menu .enlace i {
    margin-right: 20px;
    font-size: 25px;
}

.menu .enlace a {
    opacity: 0;
    transition: opacity .3s ease;
}

.menu-dashboard.open {
    max-width: 300px;
}
.menu-dashboard.open .top-menu .logo img{
  width: 150px;
}
.menu-dashboard.open .top-menu .logo a {
    display: block;
}

.menu-dashboard.open .input-search .menu-dashboard.open .menu .enlace {
    width: auto;
}

.menu-dashboard.open .input-search .input {
    display: block;
}

.menu-dashboard.open .menu .enlace {
    padding: 20px;
}

.menu-dashboard.open .menu .enlace a {
    opacity: 1;
    text-decoration: none;
    color: white;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px 0 0 0;

}

.container-principal {
    height: auto;
    flex-grow: 1;

}
.menu__buscar{
  padding-top: 15px;
}
.input__buscar {
    padding: 10px 0 10px 0;
    border: none;
    border-radius: 4px;
    box-shadow: 0 0 5px #ccc;
    font-size: 16px;
}
.menu__user{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name__user {
    color: black;
}

.fa-user{
  font-size: 40px;
  color: #003053;
}
.container__info{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 15px 20px 15px;

}
.h1__bienvenida{
  color: black;
  font-size: 19px;
  padding-bottom: 15px;
}
.p__bienvenida{
  color: black;
  font-size: 14px;
}