/* FONTS GOOGLE */
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

/* VARIABLES */

:root {
    --blanco: #E0E0E0;
    --azul-opacidad: #184463;
    --bg-menu: #003053;
    --bg-body: #C7E1FF;
}

/* GENERALES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    color: var(--blanco);
}

/* LAYOUT */
.container__main {
    display: flex;
}

.menu-dashboard {
    max-width: 80px;
    background: var(--bg-menu);
    padding: 10px;
    transition: max-width .3s ease;
    flex: 1;

}

.top-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.top-menu .logo {
    display: flex;
    align-items: center;

}

.top-menu .logo img {
    width: 40px;
    transition: width .3s ease;
}

.top-menu .logo span {
    font-size: 20px;
    margin-left: 20px;
    display: none;
}

.top-menu .toggle {
    width: 30px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding-bottom: 15px;
}

.top-menu .toggle i {
    font-size: 35px;
    color: white;
}

/* INPUT BOX */

.input-search {
    width: 100%;
    margin: 50px 0;
    background-color: var(--azul-opacidad);
    padding: 15px;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.input-search i {
    font-size: 30px;
    margin-right: 20px;
}

.input-search .input {
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
    height: 30px;
    color: var(--blanco);
    font-size: 22px;
    display: none;
}

/* ENLACES MENU */

.menu .enlace {
    width: 100%;
    padding: 20px 0 20px 17px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 20px;
    transition: all .3s ease;
}

.menu .enlace:hover {
    background: var(--azul-opacidad);
}

.menu .enlace i {
    margin-right: 20px;
    font-size: 25px;
    color: white;
}

.menu .enlace a {
    opacity: 0;
    transition: opacity .3s ease;
}

.menu-dashboard.open {
    max-width: 300px;
}

.menu-dashboard.open .top-menu .logo img {
    width: 150px;
}

.menu-dashboard.open .top-menu .logo a {
    display: block;
}

.menu-dashboard.open .input-search .menu-dashboard.open .menu .enlace {
    width: auto;
}

.menu-dashboard.open .input-search .input {
    display: block;
}

.menu-dashboard.open .menu .enlace {
    padding: 20px;
}

.menu-dashboard.open .menu .enlace a {
    opacity: 1;
    text-decoration: none;
    color: white;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px 0 0 0;

}

.container-principal {
    background-color: #F8F8F8;
    height: auto;
    flex-grow: 1;

}

.menu__buscar {
    padding: 15px 0 15px 0;
}

.input__buscar {
    padding: 10px 0 10px 0;
    border: none;
    border-radius: 4px;
    box-shadow: 0 0 5px #ccc;
}

.btn__buscar {
    border: none;
}

.btn__buscar i {
    border-radius: 5px;
    border-radius: 5px;
    padding: 5px;
    border: none;
    color: white;
    background: var(--bg-menu);
}

.container__menu__user {
    -webkit-box-shadow: 0px 0px 16px -3px #193C59;
    box-shadow: 0px 0px 16px -3px #193C59;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu__user {
    padding: 25px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.name__user {
    padding: 0 15px 0 15px;
    color: black;
}

#boton-opciones {
    background: var(--bg-menu);
}

#boton-opciones i {
    color: white;
}

#opciones {
    position: absolute;
    top: 60px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    opacity: 0;
    transform: translateY(-10px);
    transition: all .3s ease;
}

#opciones.mostrar {
    opacity: 1;
    transform: translateY(0);
}

#opciones ul li {
    list-style: none;
    color: black;
    padding: 5px 35px 5px 35px;
}

#opciones ul li a {
    text-decoration: none;
    color: black;
}

.fa-user {
    font-size: 40px;
    color: #003053;
}

.container__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 15px 20px 15px;

}

.h1__bienvenida {
    color: black;
    font-size: 19px;
    padding-bottom: 15px;
}

.p__bienvenida {
    color: black;
    font-size: 14px;
}

.container__social {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    /* Una única columna */
    grid-template-rows: 1fr;
    gap: 10px;
    /* Espacio entre los elementos */
    padding: 20px 0 20px 0;
}

.redes {
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    color: black;
    width: 200px;
}

.redes img {
    max-width: 30%;
    height: auto;
}

.redes__face p {
    color: white;
}

.redes__face {
    display: flex;
    flex-direction: column;
    background-color: #3b5998;
    justify-content: center;
    align-items: center;
}

.redes__tw {
    display: flex;
    flex-direction: column;
    background-color: #00acee;
    justify-content: center;
    align-items: center;
}

.redes__tw p {
    color: #fff;
}

.redes__git {
    display: flex;
    flex-direction: column;
    background-color: #060606;
    justify-content: center;
    align-items: center;
}

.redes__git p {
    color: #fff;
}

.redes__you {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    height: 95%;
}

.container__info__2 {
    padding: 0 20px
}

/* pantallas grandes */
@media (min-width: 1024px) {
    .container__menu__user {
        flex-direction: row-reverse;
        justify-content: space-around;
        flex-direction: none;
    }

    .menu__user {
        flex-direction: row;
        padding: 15px 0 15px 0;
    }

    .input__buscar {
        padding: 10px 15px 10px 15px;
    }

    .btn__buscar i {
        font-size: 20px;
    }

    .name__user {
        padding: 0 25px 0 25px;
    }

    .container__bienvenida {
        margin: 0 15px;
        padding: 15px;
        -webkit-box-shadow: 1px 3px 17px -5px rgba(0, 48, 83, 1);
        -moz-box-shadow: 1px 3px 17px -5px rgba(0, 48, 83, 1);
        box-shadow: 1px 3px 17px -5px rgba(0, 48, 83, 1);

    }

    .container__bienvenida h1 {
        font-size: 20px;
        text-align: center;
    }

    .container__info {
        flex-direction: row;
    }


    .container__social {
        grid-template-columns: 1fr 1fr;
        /* Dos columnas con el mismo ancho */
        grid-template-rows: 1fr 1fr;
        /* Dos filas con la misma altura */
    }

    .container__info__2 h2 {
        padding-left: 10px;
        font-size: 20px;
    }

    .carousel.slide.w-100 {
        max-width: 500px;
        /* Ajusta el ancho máximo según tus necesidades */
    }

}